
.divlogo{
    background-color: #db3d23;
    width: 60px;
    height: 60px;
    border-radius: 15px;

}
.cate-datmon{
    text-decoration: none;
    color:black;
    font-weight: bold;
    cursor: pointer;
   
}
ul li{
    list-style-type: none;
}
.cate-div{
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
    border: 1px solid #db3d23;
}
#cate-monan {
    display: flex;
    flex-wrap: wrap;
  }
  .cate-div {
    flex-shrink: 0;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
 
  }
  .card-monan{
    cursor: pointer;
  }
  .btn-quantity{
    border: 2px solid gray;
  background: none;
  padding: 0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 1rem;
  color: #db3d23;
  cursor: pointer;
}
.quantity {
    display: flex;
    align-items: center;
  }
  
  .quantity-value {
    margin: 0 10px;
  }
  .gia-sp{
    color: #db3d23;
    font-weight: bold;
    font-size: 20px;
    
  }

  .btn-quantity-No{
    background: #db3d23;
    padding: 0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 1rem;
    color: white;
    cursor: pointer;
  }
  @media (max-width: 600px) {
    .custom-card {
      position: static !important;
    }
  }