
.divlogo{
    background-color: #db3d23;
    width: 60px;
    height: 60px;
    border-radius: 15px;

}
.cate-datmon{
    text-decoration: none;
    color:black;
    font-weight: bold;
   
}
ul li{
    list-style-type: none;
}
.cate-div{
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
    border: 1px solid #db3d23;
}
#cate-monan {
    display: flex;
    flex-wrap: wrap;
  }
  .cate-div {
    flex-shrink: 0;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
 
  }
 