.ls-thucdon{
    overflow-y: scroll;
    height: 100%;
    max-height: 800px;
    overflow-x: hidden;
    scrollbar-width: thin; 
    scrollbar-color: #f08080 transparent; 
}
.ls-thucdon::-webkit-scrollbar {
    width: 6px; /* Đặt chiều rộng của thanh cuộn */
  }
  
  .ls-thucdon::-webkit-scrollbar-thumb {
    background-color: #aaa; /* Đặt màu cho phần thân thanh cuộn */
  }
  
  .ls-thucdon::-webkit-scrollbar-track {
    background-color: transparent; /* Đặt màu cho phần nền thanh cuộn */
  }
  .giatien-lsgiaohang{
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: #f08080;
    text-align: end;

  }
  .title-thongtingiaohang{
    font-weight: normal;
    font-size: 17px;

  }
  .diemtichluy-lsgiaohang{
    font-size: 17px;
    font-weight: bold;
    text-align: end;
  }