.item-cate,.item-cate a{
    list-style: none;
    text-decoration: none;
    color:black;
    font-weight: bold;
  }
  .ul-item{
    text-decoration: none;
  }
  .card-header{
    background-color:#db3d23;
    color: white;
    font-weight: bold;
  }
  .btndatngay{
    width: 100%;
    height: 50px;
    padding: 10px;
    background: #db3d23;
    border-radius: 15px; 
    color:white;
    font-weight: bold;
    font-size: 17px;
    border: none;
}
  