.align-middle-checkbox input {
  transform: scale(1.3);
}
.align-middle-checkbox{
  text-align: center;
  vertical-align: middle;
}
#filter-menu{
  display: flex;
  justify-content: space-between;
}
#filter-menu input{
  width: 25%;
}
@media (max-width: 600px) {
    #filter-menu{
      display: flex;
      flex-direction: column-reverse;
    }
    #filter-menu input,div{
      width: 100% !important;
      margin-bottom: 15px;
    }
}
