<div class="row w-100 mt-3">
  <div class="d-flex justify-content-center">
    <h4>
      {{categoryName}}
   </h4>
  </div>
  <div class="row w-100">
    <div id="filter-menu">

          <input #searchbar type="text" (change)="SearchMenu(searchbar.value)" class="form-control " placeholder="Tìm kiếm...">
          <div class="select-container">
            <select id="selectInput" [(ngModel)]="selectedcategory" (change)="selectedCate(selectedcategory)" class="form-control">
              <option value="" selected disabled>Danh Mục</option>
              <ng-container *ngFor="let cate of menucategories">
                <option [value]="cate.menuCategory_Id">{{cate.categoryName}}</option>
              </ng-container>
              <option value="TB">Toàn bộ</option>
            </select>
            <span class="underline"></span>
          </div>

        <button (click)="ShowHidePopUpMenu()" class="btn btn-warning">Thêm thực đơn</button>
    </div>
  </div>

  <table class="table table-bordered mt-3">
    <thead>
      <tr>
        <th scope="col">Hình ảnh</th>
        <th scope="col">ID</th>
        <th scope="col">Tên món ăn</th>
        <th scope="col">Giá tiền</th>
        <th scope="col">Hotdeal</th>
        <th scope="col">Bestseller</th>
        <th scope="col">Tình trạng</th>
        <th scope="col">Tùy chọn</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let menu of menusview" >
        <tr>
          <td><img style="width: 70px;height: 70px;" class="img-fluid" [src]="menu.menuImage" alt="Hình ảnh món ăn"></td>
          <td>{{menu.menu_Id}}</td>
          <td>{{menu.menuName}}</td>
          <td><input type="number" [value]="menu.price" readonly ></td>
          <td class="align-middle-checkbox"><input  type="checkbox" [checked]="menu.hotDeal" disabled></td>
          <td class="align-middle-checkbox"><input type="checkbox" [checked]="menu.bestSaller" disabled></td>
          <td class="align-middle-checkbox"><input type="checkbox" [checked]="menu.state" disabled></td>
          <td>
            <button type="button" class="btn btn-danger me-2">Xóa</button>
            <button type="button" class="btn btn-primary me-2">Sửa</button>
            <button type="button" class="btn btn-info me-2">Chi tiết</button>
          </td>
        </tr>
      </ng-container>
      <!-- Thêm các hàng dữ liệu khác ở đây -->
    </tbody>
  </table>
  <app-Pagination [pageSize]="pageSize"
                  [pageIndex]="pageIndex"
                  [totalCount]="totalCount"
                  (eventPage)="ChangePage($event)"
  ></app-Pagination>
</div>
<app-ThemThucDonPopUp *ngIf="popupconditions" (hideshowOutput)="ShowHidePopUpMenu()"></app-ThemThucDonPopUp>
