<div class="row mt-3">
  <div class="col-12 col-md-6 mb-3">
    <a routerLink="/ChiTietTinTuc" style="text-decoration: none;color: black;">
      <div class="card" style="border-radius: 15px;">
        <img src="https://imagedelivery.net/1J0pLjFdKJBzEdIlr1bDRQ/5bcf2a96-605b-4517-cf19-2982c4216300/public" class="img-tintuc card-img-top" alt="Image">
        <div class="card-body">
          <h5 class="card-title">Trở về thanh xuân cùng với Hutong Vinh chỉ 265k/người</h5>
          <p class="card-text text-secondary"><small class="text-muted">2023-07-01 10:22:41</small></p>
        </div>
      </div>
    </a>
  </div>
  <div class="col-12 col-md-6 mb-3">
    <a routerLink="/ChiTietTinTuc" style="text-decoration: none;color: black;">
      <div class="card" style="border-radius: 15px;">
        <img src="https://imagedelivery.net/1J0pLjFdKJBzEdIlr1bDRQ/5bcf2a96-605b-4517-cf19-2982c4216300/public" class="img-tintuc card-img-top" alt="Image">
        <div class="card-body">
          <h5 class="card-title">Trở về thanh xuân cùng với Hutong Vinh chỉ 265k/người</h5>
          <p class="card-text text-secondary"><small class="text-muted">2023-07-01 10:22:41</small></p>
        </div>
      </div>
    </a>
  </div>
  
  
</div>