
<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </label>
    <label class="logo"><i class='bx bxs-hot' style='color:white'></i> LẨU</label>
    <ul >
        <li ><a class="active" href="#">Ưu Đãi</a></li>
        <li ><a href="#">Thực Đơn</a></li>
        <li ><a href="#">Đặt Bàn</a></li>
        <li ><a href="#">Đặt Hàng</a></li>
        <li >            
            <a href="#"><i class='bx bx-cart-alt' style='color: white;'></i> (5) Giỏ Hàng</a>
        </li>
        <li>            
            
        </li>
    </ul>
</nav>