
<div class="d-flex justify-content-center w-100 mt-3">
  <h4 class="text-center">Thông Tin Đặt Bàn</h4>
</div>
<div class="card shadow mt-3 p-3">
    <div class="d-flex flex-column">
        <div class="d-flex flex-row">
            <div>
              <i class='bx bxs-location-plus bx-lg'></i>
            </div>
            <div class="d-flex flex-column">
                <h5>LẨU LÊ THÁNH TÔN</h5>
                <p style="margin: 0;color: darkgoldenrod;">61/19/1B Mã Lò</p>
            </div>
        </div>
        <div class="d-flex flex-row align-items-center">
          <i class="bx bxs-user-plus bx-md"></i>
          <p class="mb-0 mx-2">Số lượng: 2</p>
        </div>
        <div class="d-flex flex-row align-items-center">
          <i class='bx bxs-calendar-alt bx-md' ></i>
          <p class="mb-0 mx-2">22/07/2002, 15:00 PM</p>
        </div>
    </div>
</div>
<div class="card shadow mt-3 p-3">
  <div class="d-flex flex-column">
    
    <form class="mt-3">
      <div class="d-flex flex-column">
        <div class="d-flex flex-row">
          <button (click)="chuyendoi()" type="button" appDoiMauBtn="datbanbtn-item" class="datbanbtn-item">Cho tài
            khoản</button>
          <button (click)="chuyendoi()" type="button" appDoiMauBtn="datbanbtn-item" class="datbanbtn-item">Cho người
            khác</button>
        </div>
        <ng-container *ngIf="istaikhoan; then formTK else formNK"></ng-container>
      </div>
      <div class="form-group mb-4 d-flex flex-row justify-content-end">
        <label for="isdefaultcheckbox" class="larger-checkbox">
          <input id="isdefaultcheckbox" type="checkbox"> Thông báo tôi qua tin nhắn?
        </label>
      </div>
      <div class="d-flex flex-row justify-content-end">
          <button type="button" (click)="showhidepop()" class="btn w-25" id="btnsubmit-datban">Đặt bàn</button>
      </div>
    </form>
  </div>
</div>

<ng-template #formNK>
  <div class="form-outline mb-4">
    <label for="hotenInput">Họ và tên</label>
    <div class="input-container">
      <input type="text" id="hotenInput" class="form-control" />
      <span class="underline"></span>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-6">
      <div class="form-outline mb-4">
        <label for="emailInput">Email</label>
        <div class="input-container">
          <input type="email" id="emailInput" class="form-control" />
          <span class="underline"></span>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="form-outline mb-4">
        <label for="sdtInput">Số điện thoại</label>
        <div class="input-container">
          <input type="text" id="sdtInput" class="form-control" />
          <span class="underline"></span>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #formTK>


</ng-template>

<app-XacNhanPopUp (hideorshow) = "showhidepop()" *ngIf="isshowpopup"></app-XacNhanPopUp>