<div class="row w-100 mt-5" style="margin-bottom: 6%;">
      <div class="col-12 col-md-9">
         <div class="d-flex flex-column">
            <div id = "process-bars" class="card">
             <div class="card h-100 shadow">
                <div class="card-body">
                  <div class="circle-container">
                    <div class="circle"><h3>1</h3></div>
                    <div class="circle"><h3>2</h3></div>
                    <div class="circle"><h3>3</h3></div>
                  </div>
                </div>
             </div>
            </div>
          
                <div class="card shadow mt-3">
                    
                      <table class="table table-borderless">
                        <thead>
                          <tr>
                            <th>Tên món</th>
                            <th>Giá</th>
                            <th>Số lượng</th>
                            <th>Tổng cộng</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Heineken Silver 330ml</td>
                            <td>59.000 ₫</td>
                            <td>
                              <div class="quantity">
                                <button class="btn btn-quantity"><i class='bx bx-minus' ></i></button>
                                <span class="quantity-value">2</span>
                                <button class="btn btn-quantity"><i class='bx bx-plus' ></i></button>
                              </div>
                            </td>
                            <td>118.000 ₫</td>
                            <td><button class="btn btn-delete"><i class='bx bx-x' ></i></button></td>
                          </tr>
                          <tr>
                            <td>Strongbow Red Berries</td>
                            <td>69.000 ₫</td>
                            <td>
                              <div class="quantity">
                                <button class="btn btn-quantity"><i class='bx bx-minus' ></i></button>
                                <span class="quantity-value">1</span>
                                <button class="btn btn-quantity"><i class='bx bx-plus' ></i></button>
                              </div>
                            </td>
                            <td>69.000 ₫</td>
                            <td><button class="btn btn-delete"><i class='bx bx-x' ></i></button></td>
                          </tr>
                        </tbody>
                      </table>
                   
                </div>
            
         </div>
      </div>
      <div class="col-12 col-md-3">
          <div id="total">
              <div class="card shadow h-100">
                  <div class="card-body"> 
                      <table class="table table-borderless">
                          <tbody>
                            <tr>
                              <th>Tạm Tính</th>
                              <td class="text-end"><h5>187.000 ₫</h5></td>
                            </tr>
                          </tbody>
                      </table>
                      <div>
                        <a href="" ><button class="btnthemmon">Thêm món khác</button></a>
                        <a href=""><button  class="btntieptuc mt-3">Tiếp Tục</button></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
</div>
