<div class="card">
  <div class="card-header text-center" style="">
    Các Món Ăn
  </div>
  <div class="card-body">
    <ul class="ul-item">
      <li class= "item-cate"><a appDoiMauChu class="a-cate"   routerLink="/ThucDon">Các món ăn kèm</a></li>
      <li class= "item-cate"><a appDoiMauChu class="a-cate"   routerLink="/ThucDon">Các loại thịt lẩu</a></li>
      <li class= "item-cate"><a appDoiMauChu class="a-cate"    routerLink="/ThucDon">Khai vị</a></li>
      <li class= "item-cate"><a appDoiMauChu class="a-cate"   routerLink="/ThucDon">Khăn Lạnh</a></li>
      <li class= "item-cate"><a appDoiMauChu class="a-cate"   routerLink="/ThucDon">Nội tạng</a></li>
      <li class= "item-cate"><a appDoiMauChu  class="a-cate"   routerLink="/ThucDon">Các món ăn kèm</a></li>
      <li class= "item-cate"><a appDoiMauChu class="a-cate"   routerLink="/ThucDon">Các loại thịt lẩu</a></li>
      <li class= "item-cate"><a appDoiMauChu class="a-cate"   routerLink="/ThucDon">Khai vị</a></li>
      <li class= "item-cate"><a appDoiMauChu class="a-cate"   routerLink="/ThucDon">Khăn Lạnh</a></li>
      <li class= "item-cate"><a appDoiMauChu  class="a-cate" routerLink="/ThucDon">Nội tạng</a></li>
      <li class= "item-cate"><a appDoiMauChu  class="a-cate"  routerLink="/ThucDon">Các món ăn kèm</a></li>
      <li class= "item-cate"><a appDoiMauChu class="a-cate"   routerLink="/ThucDon">Các loại thịt lẩu</a></li>
      <li class= "item-cate"><a appDoiMauChu class="a-cate"   routerLink="/ThucDon">Khai vị</a></li>
      <li class= "item-cate"><a appDoiMauChu class="a-cate"   routerLink="/ThucDon">Khăn Lạnh</a></li>
      <li class= "item-cate"><a appDoiMauChu class="a-cate"   routerLink="/ThucDon">Nội tạng</a></li>
    </ul>
  </div>
</div>