<div class="d-flex justify-content-center mt-3">
  <div class="card shadow w-100">
      <div class="d-flex flex-wrap justify-content-center m-3">
        <div appDoiMauBtn = 'category-item' class="category-item">Thông Tin Cá Nhân</div>
        <div appDoiMauBtn = 'category-item' class="category-item">Ưu Đãi Của Tôi</div>
        <div appDoiMauBtn = 'category-item' class="category-item">Lịch Sử</div>
        <div appDoiMauBtn = 'category-item' class="category-item">Sổ Địa Chỉ</div>
      </div>
  </div>
</div>
<router-outlet></router-outlet>