<div class="d-flex justify-content-center w-100 mt-3">
  <h3 class="text-center">Đặt Bàn</h3>
</div>
<form>
  <div class="card shadow mt-3 p-3">

    <div class="row">
      <div class="datban-cate col-12 col-md-5">
        <div class="form-outline mb-4">
          <label for="selectInput">Chi nhánh</label>
          <div class="select-container">
            <select id="selectInput" class="form-control">
              <option value="" selected disabled>Vui lòng chọn chi nhánh</option>
              <option value="option2">CN Q10</option>
              <option value="option3">CN CMT8</option>
            </select>
            <span class="underline"></span>
          </div>
        </div>
      </div>
      <div class="datban-cate col-12 col-md-2">
        <div class="form-outline mb-4">
          <label for="selectInput">Số lượng</label>
          <div class="select-container">
            <select id="selectInput" class="form-control">
              <option value="" selected disabled>Chọn số lượng</option>
              <option value="option2">CN Q10</option>
              <option value="option3">CN CMT8</option>
            </select>
            <span class="underline"></span>
          </div>
        </div>
      </div>
      <div class="datban-cate col-12 col-md-2">
        <div class="form-outline mb-4">
          <label for="datetimeInput">Ngày đặt</label>
          <div class="input-container">
            <input type="date" id="datetimeInput" class="form-control" />
            <span class="underline"></span>
          </div>
        </div>
      </div>
      <div class="datban-cate col-12 col-md-2 ">
        <div class="form-outline mb-4">
          <label for="selectInput">Giờ đặt</label>
          <div class="select-container">
            <select id="selectInput" class="form-control">
              <option value="" selected disabled>Chọn giờ</option>
              <option value="option2">CN Q10</option>
              <option value="option3">CN CMT8</option>
            </select>
            <span class="underline"></span>
          </div>
        </div>
      </div>
      <div class="datban-cate col-12 col-md-1 d-flex flex-column justify-content-center align-items-center">
        
          <button class="btn" id="btntim-datban">Tìm</button>
        
      </div>

    </div>

  </div>
</form>
<div id="thongtin-datban" class="card shadow mt-3 p-3">
  <div class="card shadow mb-3">
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-md-10">
          <h5 style="font-weight: bold;">
            Vuvuzela Sunrise Trần Thái Tông
          </h5>
          <p style="color: gray;">
            Tầng 1, Sunrise building, lô D11 khu đô thị mới Cầu giấy, Hà Nội
          </p>
        </div>
        <div class="col-12 col-md-2 d-flex justify-content-center align-items-center">
          <a routerLink="/ChiTietDatBan" class="btn btnngaydat">19:00</a>
        </div>
      </div>
    </div>
  </div>
  <div class="card shadow mb-3">
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-md-10">
          <h5 style="font-weight: bold;">
            Vuvuzela Sunrise Trần Thái Tông
          </h5>
          <p style="color: gray;">
            Tầng 1, Sunrise building, lô D11 khu đô thị mới Cầu giấy, Hà Nội
          </p>
        </div>
        <div class="col-12 col-md-2 d-flex justify-content-center align-items-center">
          <button class="btn btnngaydat">19:00</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card shadow mb-3">
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-md-10">
          <h5 style="font-weight: bold;">
            Vuvuzela Sunrise Trần Thái Tông
          </h5>
          <p style="color: gray;">
            Tầng 1, Sunrise building, lô D11 khu đô thị mới Cầu giấy, Hà Nội
          </p>
        </div>
        <div class="col-12 col-md-2 d-flex justify-content-center align-items-center">
          <button class="btn btnngaydat">19:00</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card shadow mb-3">
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-md-10">
          <h5 style="font-weight: bold;">
            Vuvuzela Sunrise Trần Thái Tông
          </h5>
          <p style="color: gray;">
            Tầng 1, Sunrise building, lô D11 khu đô thị mới Cầu giấy, Hà Nội
          </p>
        </div>
        <div class="col-12 col-md-2 d-flex justify-content-center align-items-center">
          <button class="btn btnngaydat">19:00</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card shadow mb-3">
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-md-10">
          <h5 style="font-weight: bold;">
            Vuvuzela Sunrise Trần Thái Tông
          </h5>
          <p style="color: gray;">
            Tầng 1, Sunrise building, lô D11 khu đô thị mới Cầu giấy, Hà Nội
          </p>
        </div>
        <div class="col-12 col-md-2 d-flex justify-content-center align-items-center">
          <button class="btn btnngaydat">19:00</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card shadow mb-3">
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-md-10">
          <h5 style="font-weight: bold;">
            Vuvuzela Sunrise Trần Thái Tông
          </h5>
          <p style="color: gray;">
            Tầng 1, Sunrise building, lô D11 khu đô thị mới Cầu giấy, Hà Nội
          </p>
        </div>
        <div class="col-12 col-md-2 d-flex justify-content-center align-items-center">
          <button class="btn btnngaydat">19:00</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card shadow mb-3">
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-md-10">
          <h5 style="font-weight: bold;">
            Vuvuzela Sunrise Trần Thái Tông
          </h5>
          <p style="color: gray;">
            Tầng 1, Sunrise building, lô D11 khu đô thị mới Cầu giấy, Hà Nội
          </p>
        </div>
        <div class="col-12 col-md-2 d-flex justify-content-center align-items-center">
          <button class="btn btnngaydat">19:00</button>
        </div>
      </div>
    </div>
  </div>
</div>