<div class="row w-100 mt-3">
    <h3 class="text-start">Trở về thanh xuân cùng với Hutong Vinh chỉ 265k/người</h3>
    <p>Thanh xuân của bạn là gì?</p>
    <br/>
    <p>Thanh xuân chính là khoảng thời gian đáng nhớ nhất, vừa đẹp đẽ vừa đơn thuần, bạn bè luôn ở bên cạnh, còn người thầm thương mến luôn ở ngay trước mắt.. Còn thanh xuân của Hutong là có bạn để cùng nhau viết tiếp một phần của tuổi trẻ.</p>
    <br/>
    <img class="img-fluid" src="https://imagedelivery.net/1J0pLjFdKJBzEdIlr1bDRQ/784f7f75-6851-486f-348f-8248697c0300/public" alt="">
    <br/>
    <p>
Bằng hữu dễ dàng cảm nhận sự phối hợp hài hòa và đúng mực giữa các món khai vị - món nhúng và quầy tráng miệng đặc sắc, cùng một chút tận hưởng trong không gian sang trọng, ấm cúng là điểm cộng cho mọi buổi hẹn trở về với thanh xuân.
    </p>
    <br/>
    <p>  Đến với Hutong mùa hè này, bằng hữu dễ dàng thưởng thức ẩm thực xứ Hương Cảng chỉ 265.000đ/người mang đậm giá trị văn hóa truyền thống Hồng Kông</p>
    <img class="img-fluid" src="https://imagedelivery.net/1J0pLjFdKJBzEdIlr1bDRQ/fa156c5d-ed6f-4632-bc6a-0eecff675500/public" alt="">
    <br/>
    <p>Đặt bàn và đến Hutong trải nghiệm ngay Buffet thượng phẩm chỉ 265.000đ/người ngay nhé. Ưu đãi chỉ áp dụng tại khu vực Vinh. </p>   
    <hr class="mt-2 mb-2"/>


    <div class="row mt-3">
      <h4 class="text-center">Các Tin Khác</h4>
      <div class="col-12 col-md-6 mb-3">
        <a routerLink="/ChiTietTinTuc" style="text-decoration: none;color: black;">
          <div class="card" style="border-radius: 15px;">
            <img src="https://imagedelivery.net/1J0pLjFdKJBzEdIlr1bDRQ/5bcf2a96-605b-4517-cf19-2982c4216300/public" class="img-tintuc card-img-top" alt="Image">
            <div class="card-body">
              <h5 class="card-title">Trở về thanh xuân cùng với Hutong Vinh chỉ 265k/người</h5>
              <p class="card-text text-secondary"><small class="text-muted">2023-07-01 10:22:41</small></p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <a routerLink="/ChiTietTinTuc" style="text-decoration: none;color: black;">
          <div class="card" style="border-radius: 15px;">
            <img src="https://imagedelivery.net/1J0pLjFdKJBzEdIlr1bDRQ/5bcf2a96-605b-4517-cf19-2982c4216300/public" class="img-tintuc card-img-top" alt="Image">
            <div class="card-body">
              <h5 class="card-title">Trở về thanh xuân cùng với Hutong Vinh chỉ 265k/người</h5>
              <p class="card-text text-secondary"><small class="text-muted">2023-07-01 10:22:41</small></p>
            </div>
          </div>
        </a>
      </div>
      
      
    </div>
</div>