<div class="card shadow mt-3 p-5">
  <div class="d-flex flex-column">
    <div class="card shadow mt-3 p-3">
      <div class="d-flex flex-row justify-content-around">
        <div class="d-flex flex-row align-items-center" style="background-color: darkgoldenrod;">
          <p class="mb-0 mx-2" style="font-weight: bold; font-size: 17px;color: white;">Đã đặt</p>
        </div>
        <div class="d-flex flex-row">
          <div>
            <i class='bx bxs-location-plus bx-lg'></i>
          </div>
          <div class="d-flex flex-column">
            <h6>LẨU LÊ THÁNH TÔN</h6>
            <p style="margin: 0;color: darkgoldenrod;">61/19/1B Mã Lò</p>
          </div>
        </div>
        <div class="d-flex flex-row align-items-center">
          <i class="bx bxs-user-plus bx-md"></i>
          <p class="mb-0 mx-2">Số lượng: 2</p>
        </div>
        <div class="d-flex flex-row align-items-center">
          <i class='bx bxs-calendar-alt bx-md'></i>
          <p class="mb-0 mx-2">22/07/2002</p>
        </div>
        <div class="thoigiandat-lsdatban d-flex flex-row align-items-center">
          <p class="mb-0 mx-2">15:00</p>
        </div>
      </div>
      <hr />
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th>Họ tên:</th>
            <td>Văn Tuấn Kiệt</td>
          </tr>
          <tr>
            <th>Email:</th>
            <td>vantuankiet2207@gmail.com</td>
          </tr>
          <tr>
            <th>Số điện thoại:</th>
            <td>0906889483</td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex flex-row justify-content-end">
        <button class="btn btn-secondary me-3" style="font-weight: bold;">Hủy bàn</button>
      </div>
    </div>
    <div class="card shadow mt-3 p-3">
      <div class="d-flex flex-row justify-content-around">
        <div class="d-flex flex-row align-items-center" style="background-color: darkgoldenrod;">
          <p class="mb-0 mx-2" style="font-weight: bold; font-size: 17px;color: white;">Đã đặt</p>
        </div>
        <div class="d-flex flex-row">
          <div>
            <i class='bx bxs-location-plus bx-lg'></i>
          </div>
          <div class="d-flex flex-column">
            <h6>LẨU LÊ THÁNH TÔN</h6>
            <p style="margin: 0;color: darkgoldenrod;">61/19/1B Mã Lò</p>
          </div>
        </div>
        <div class="d-flex flex-row align-items-center">
          <i class="bx bxs-user-plus bx-md"></i>
          <p class="mb-0 mx-2">Số lượng: 2</p>
        </div>
        <div class="d-flex flex-row align-items-center">
          <i class='bx bxs-calendar-alt bx-md'></i>
          <p class="mb-0 mx-2">22/07/2002</p>
        </div>
        <div class="thoigiandat-lsdatban d-flex flex-row align-items-center">
          <p class="mb-0 mx-2">15:00</p>
        </div>
      </div>
      <hr />
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th>Họ tên:</th>
            <td>Văn Tuấn Kiệt</td>
          </tr>
          <tr>
            <th>Email:</th>
            <td>vantuankiet2207@gmail.com</td>
          </tr>
          <tr>
            <th>Số điện thoại:</th>
            <td>0906889483</td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex flex-row justify-content-end">
        <button class="btn btn-secondary me-3" style="font-weight: bold;">Hủy bàn</button>
      </div>
    </div>
    <div class="card shadow mt-3 p-3">
      <div class="d-flex flex-row justify-content-around">
        <div class="d-flex flex-row align-items-center" style="background-color: darkgoldenrod;">
          <p class="mb-0 mx-2" style="font-weight: bold; font-size: 17px;color: white;">Đã đặt</p>
        </div>
        <div class="d-flex flex-row">
          <div>
            <i class='bx bxs-location-plus bx-lg'></i>
          </div>
          <div class="d-flex flex-column">
            <h6>LẨU LÊ THÁNH TÔN</h6>
            <p style="margin: 0;color: darkgoldenrod;">61/19/1B Mã Lò</p>
          </div>
        </div>
        <div class="d-flex flex-row align-items-center">
          <i class="bx bxs-user-plus bx-md"></i>
          <p class="mb-0 mx-2">Số lượng: 2</p>
        </div>
        <div class="d-flex flex-row align-items-center">
          <i class='bx bxs-calendar-alt bx-md'></i>
          <p class="mb-0 mx-2">22/07/2002</p>
        </div>
        <div class="thoigiandat-lsdatban d-flex flex-row align-items-center">
          <p class="mb-0 mx-2">15:00</p>
        </div>
      </div>
      <hr />
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th>Họ tên:</th>
            <td>Văn Tuấn Kiệt</td>
          </tr>
          <tr>
            <th>Email:</th>
            <td>vantuankiet2207@gmail.com</td>
          </tr>
          <tr>
            <th>Số điện thoại:</th>
            <td>0906889483</td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex flex-row justify-content-end">
        <button class="btn btn-secondary me-3" style="font-weight: bold;">Hủy bàn</button>
      </div>
    </div>
  </div>
</div>
