<div id="bg-modal">
  <div id="bg-content" class="p-4">
    <div class="row mb-3">
      <div class="col-11 d-flex align-items-center">
        <h3 style="margin: 0;">Thêm danh mục thực đơn</h3>
      </div>
      <div class="col-1">
        <button (click)="HideorShowPopup()" id="x-click"><i class='bx bx-x bx-lg' undefined></i></button>
      </div>
    </div>
    <form (ngSubmit)="AddNewMenuCategory()" [formGroup]="dataform">
      <input type="hidden" formControlName = "menuCategoryId">
      <input type="hidden" formControlName = "state">
      <div class="form-outline mb-3">
        <label for="textInput">Tên danh mục</label>
        <div class="input-container">
          <input type="text" id="textInput" formControlName = "menuCategoryName" class="form-control" />
          <span class="underline"></span>
        </div>
      </div>

      <div class="d-flex flex-row justify-content-end">
        <button type="button" (click)="HideorShowPopup()" class="btn btn-outline-secondary me-2" style="font-weight: bold;" id="btnhuy">Hủy</button>
        <button  type="submit" class="btn" id="btnxacnhan">Thêm danh mục</button>
      </div>
    </form>
  </div>
</div>
