<div class="d-flex justify-content-center mt-3">
  <div class="card shadow w-100">
      <div class="d-flex flex-wrap justify-content-center m-3">
        <!-- <a style="text-decoration: none;" routerLink="ThongTinCaNhan"><div  appDoiMauBtn = 'category-item' class="category-item">Thông Tin Cá Nhân</div></a>
        <a style="text-decoration: none;" routerLink="UuDaiCuaToi"><div  appDoiMauBtn = 'category-item' class="category-item">Ưu Đãi Của Tôi</div></a>
        <a style="text-decoration: none;" routerLink="LichSuGiaoHang"><div  appDoiMauBtn = 'category-item' class="category-item">Lịch Sử giao hàng</div></a>
        <a style="text-decoration: none;" routerLink="LichSuDatBan"><div  appDoiMauBtn = 'category-item' class="category-item">Lịch Sử đặt bàn</div></a>
        <a style="text-decoration: none;" routerLink="SoDiaChi"><div  appDoiMauBtn = 'category-item' class="category-item">Sổ địa chỉ</div></a> -->

      <div routerLink="ThongTinCaNhan"  appDoiMauBtn = 'category-item' class="category-item">Thông Tin Cá Nhân</div>
       <div routerLink="UuDaiCuaToi"  appDoiMauBtn = 'category-item' class="category-item">Ưu Đãi Của Tôi</div>
        <div routerLink="LichSuGiaoHang"  appDoiMauBtn = 'category-item' class="category-item">Lịch Sử giao hàng</div>
       <div routerLink="LichSuDatBan"  appDoiMauBtn = 'category-item' class="category-item">Lịch Sử đặt bàn</div>
        <div routerLink="SoDiaChi"  appDoiMauBtn = 'category-item' class="category-item">Sổ địa chỉ</div>
      </div>
  </div>
</div>
<router-outlet></router-outlet>